.searchForm {
    padding: 70px 0 80px;
}

.searchForm__container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 26px;
    transition: all .2s ease;
}

.searchForm__input {
    width: 100%;
    background-color: #202020;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    padding: 25px;
    border: 1px solid #aaaaaa33;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
}

.searchForm__input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 40rem #202020 inset;
    caret-color: #fff;
    -webkit-border-start-color: rgb(60, 60, 60);
    -webkit-border-before-color: rgb(60, 60, 60);
    -webkit-border-after-color: rgb(60, 60, 60);
    -webkit-border-end-color: rgb(60, 60, 60);
  }

.searchForm__input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 40rem #202020 inset;
    caret-color: #fff;
    -webkit-border-start-color: rgb(101, 101, 101);
    -webkit-border-before-color: rgb(101, 101, 101);
    -webkit-border-after-color: rgb(101, 101, 101);
    -webkit-border-end-color: rgb(101, 101, 101);
  }

.searchForm__input:focus {
    border-color: rgba(170, 170, 170, 0.5); 
}

.searchForm__button {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 100px;
    background-color: #4285F4;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 0;
    border-radius: 5px;
    padding: 17px 20px;
    transition: all .2s ease;
    cursor: pointer;
}

.searchForm__button:hover {
    opacity: 0.7;
}

.searchForm__filter {
    display: flex;
    align-items: center;
    padding: 0 0 44px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.searchForm__filter-label {
    min-width: 36px;
    min-height: 20px;
    position: relative;
    border-radius: 16px;
    background-color: #202020;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    cursor: pointer;
}

.searchForm__filter-invisible-checkbox {
    display: none;
    width: 36px;
    height: 20px;
}

.searchForm__filter-visible-checkbox {
    border-radius: 50%;
    padding: 8px;
    background-color: #A0A0A0;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all .2s ease;
    cursor: pointer;
}

.searchForm__filter-visible-checkbox_active {
    background-color: #3DDC84;
    left: 18px;
}

.searchForm__filter-text {
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 0 14px;
    opacity: 0.7;
}

.searchForm__filter-text_active {
    color: #fff;
    opacity: 1;
}

@media screen and (min-width: 250px) and (max-width: 767px) {
    .searchForm {
        padding: 70px 4px 50px;
    }

    .searchForm__container {
        margin: 0 0 30px;
    }

    .searchForm__filter {
        padding: 0 0 64px
    }

    .searchForm__input {
        height: 14px;
        font-size: 16px;
        line-height: 16px;
        padding: 20px 12px;
    }

    .searchForm__button {
        font-size: 14px;
        line-height: 18px;
        padding: 13px 10px;
        top: 6px;
        right: 6px;
    }

    .searchForm__filter-text {
        font-size: 11px;
        line-height: 18px;
        margin: 0 0 0 15px;
    }
}